<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dice</title>
</head>
<body>



<form th:action="@{/post/create}" th:method="post" th:object="${com.codeup.meta.models.Post}">
    <label>Title</label>
    <label for="post_title"></label><input type="text" th:field="*{title}" id="post_title" class="field"/>
    <label>Description</label>
    <label for="description"></label><input type="text" th:field="*{description}" id="description" class="field"/>
    <button>Press here to Guess</button>
</form>

</body>
</html>